@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue à la plateforme de gestion de prêt de livre de la bibliothèque de BrownVille</h1>
    <p></p>
</div>
